@{
    ViewData["Title"] = "Meus Animais";
    @model List<VetVaxManager.Models.Animal>
}

<div class="text-center">
    <h1 class="display-4">Meus Animais</h1>
    <h4 class="text-muted">Veja todos os animais registrados, suas informações detalhadas, agendamentos e cartão de vacinas</h4>
</div>

<div class="container my-4">
    <a class="btn btn-outline-primary mb-2" asp-area="" asp-controller="Animal" asp-action="NewAnimal" role="button">Novo animal</a>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var animal in Model)
        {
            <div class="col">
                <div class="card text-center rounded-card" style="width: 18rem;">
                    <img src="/img/animals/picture_animal.png" class="rounded-img card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@animal.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Espécie: @animal.Specie.Name</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Raça: @animal.Race</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Idade: @(DateTime.Today.Year - animal.DateOfBirth.Year) anos</h6>
                        <a asp-area="" asp-controller="Animal" asp-action="Details" asp-route-id="@animal.AnimalId" class="btn btn-outline-primary mt-2">Ver detalhes</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>