@model VetVaxManager.Models.Calendar

@{
    ViewData["Title"] = "Agendar vacina";
}

<div class="container my-2">
    <h4>Agendar vacina:</h4>
    <h6 class="text-muted mb-3">Preencha os campos abaixo para criar um lembrete de vacinação:</h6>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="NewEvent" method="post">
                <input type="hidden" asp-for="Animal.AnimalId" value="@ViewBag.AnimalId" />
                <div class="form-group mb-3">
                    <label for="inputDate" class="form-label">Data da vacinação:</label>
                    <input type="date" class="form-control" id="inputDate" asp-for="@Model.EventDateTime">
                </div>
                <div class="form-group mb-3">
                    <label for="inputReminderDays" class="form-label">Lembrar antes (dias):</label>
                    <input type="number" class="form-control" id="inputReminderDays" min="0" asp-for="@Model.ReminderDays">
                </div>
                <div class="form-group mb-3">
                    <label for="selectReminder" class="form-label">Selecione a vacina:</label>
                    <select class="form-select" aria-label="Select Vaccine" id="selectReminder" asp-for="@Model.VaccinationSchedule.VaccinationScheduleId">
                        @foreach (var vaccine in ViewBag.VaccinationSchedules)
                        {
                            <option value="@vaccine.VaccinationScheduleId">@vaccine.Name - @vaccine.Dose</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Criar lembrete</button>
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Animal" asp-action="Details" asp-route-id="@ViewBag.AnimalId" role="button">Voltar</a>
            </form>
        </div>
    </div>
</div>
