@{
    ViewData["Title"] = "Detalhes do animal";
    @model VetVaxManager.ViewModels.AnimalDetailsViewModel
    var status = Model.Animal.Alive ? "Vivo" : "Morto";

}

<div class="container my-4">
    <h4>Dados do animal:</h4>    
    <div class="row">
        <div class="col">
            <div class="card text-center rounded-card">
                <img src="/img/animals/picture_animal.png" class="rounded-img card-img-top" alt="..." style="width: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">@Model.Animal.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Sexo:</b> @Model.Animal.Sex | <b>Espécie:</b> Definir | <b>Raça:</b> @Model.Animal.Race</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Idade</b>: @(DateTime.Today.Year - Model.Animal.DateOfBirth.Year) anos | <b>Peso:</b> @Model.Animal.Weight kg | <b>Estado:</b> @status</h6>
                    <a class="btn btn-secondary mt-2 me-2" asp-area="" asp-controller="Animal" asp-action="EditAnimal" asp-route-id="@Model.Animal.AnimalId" role="button">Editar</a>
                    <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#deleteAnimalModal">Deletar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-2">
    <h4 class="mb-3">Agenda:</h4>
    <a class="btn btn-outline-primary mb-2" asp-area="" asp-controller="Calendar" asp-action="NewEvent" asp-route-id="@Model.Animal.AnimalId" role="button">Agendar vacina</a>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var schedule in Model.Calendar)
    {
        @if (@schedule.EventDateTime >= DateTime.Today)
            {
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@schedule.VaccinationSchedule.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@schedule.VaccinationSchedule.Dose</h6>
                            <p class="card-text">Programada para: @schedule.EventDateTime.ToString("dd-MM-yyyy")</p>
                            <a asp-area="" asp-controller="Calendar" asp-action="CalendarEventDetails" asp-route-id="@schedule.CalendarId" class="card-link">Ver detalhes</a>
                        </div>
                    </div>
                </div>
            }
    }
    </div>
</div>

<div class="container my-4">
    <h4 class="mb-3">Cartão de Vacinas:</h4>
    <a class="btn btn-outline-primary mb-2" asp-area="" asp-controller="Vaccine" asp-action="NewVaccine" asp-route-id="@Model.Animal.AnimalId" role="button">Registrar vacina</a>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var vaccine in Model.Vaccines)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@vaccine.VaccinationSchedule.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@vaccine.VaccinationSchedule.Dose</h6>
                    <p class="card-text">Data de Administração: @vaccine.DateOfAdministration.ToString("dd-MM-yyyy")</p>
                    <a asp-area="" asp-controller="Vaccine" asp-action="VaccineDetails" asp-route-id="@vaccine.VaccineId" class="card-link">Ver detalhes</a>
                </div>
            </div>
        </div>
    }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteAnimalModal" tabindex="-1" aria-labelledby="deleteAnimalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAnimalModalLabel">Deletar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja deletar o animal?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <a class="btn btn-danger" asp-area="" asp-controller="Animal" asp-action="DeleteAnimal" asp-route-id="@Model.Animal.AnimalId" asp-route-animalId="@Model.Animal.Owner.OwnerId" role="button">Confirmar</a>
            </div>
        </div>
    </div>
</div>